body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: rgba(237, 229, 238, 0.589);
  display: flex;
  flex-direction: column;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
